@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  width: 100%;
}
/* 리셋 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* //리셋 */

.header_wrap {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 3px solid #3b3b3b;
  z-index: 90;
  background: #fff;
  width: 100%;
  /* margin-bottom: 130px; */
}

.header_inner {
  width: 960px;
  margin: 0 auto;
  position: relative;

  white-space: nowrap;
}

.header_inner .header_nav_left {
  height: 66px;
  line-height: 66px;
  display: inline-block;
}

.header_inner .header_nav_left > h1 {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.header_inner .header_nav_left > h1 > a {
  background: url(https://static.line-scdn.net/line_lp/16fa775a94e/img/logo160629.png)
    0 0 no-repeat;
  background-size: 60px 21px;
  display: inline-block;
  width: 60px;
  height: 21px;
  text-indent: -9999px;
  position: absolute;
  top: 23px;
  left: 0;
}

.header_inner .header_nav_left ul {
  height: 66px;
  line-height: 66px;
  overflow: hidden;
  display: inline-block;
  margin-left: 73px;
}

.header_inner .header_nav_left ul li {
  float: left;
}
.header_inner .header_nav_left ul li:last-child a {
  text-transform: uppercase;
}

.header_inner .header_nav_left ul li > span {
  display: inline-block;
  margin-left: 10px;
  margin-right: 13px;
  border-left: 1px solid #cfcfcf;
  width: 0;
  height: 12px;
  vertical-align: -1px;
  overflow: hidden;
}

.header_inner .header_nav_left ul li:last-child > span {
  display: none;
}

.header_inner .header_nav_left ul li:first-child {
  padding-left: 0;
}

.header_inner .header_right {
  float: right;
  position: relative;
  vertical-align: middle;
  height: 66px;
  display: flex;
  align-items: center;
}

.header_inner .header_right_select {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 1;
  font-family: "Roboto", sans-serif;
}

.header_inner .header_right_select > p {
  position: relative;
  display: block;
  padding: 0 10px 0 9px;
  width: 150px;
  height: 24px;
  border: 1px solid #dfdfdf;
  background: #fff;
  text-align: left;
  line-height: 22px;
  font-size: 12px;
  color: #444;
  cursor: pointer;
  font-weight: 300;
}

.header_inner .header_right_select > p::before {
  content: "";
  background-image: url(https://static.line-scdn.net/line_lp/16fa775a94e/img/spritePC170420.png?200110);
  position: absolute;
  top: 10px;
  right: 6px;
  width: 6px;
  height: 4px;
  background-position: -865px 0;
}

.header_inner .header_right_select .select_ul {
  display: flex;
  flex-wrap: wrap;
  display: none;
  width: 300px;
  padding: 8px 0 9px;
  position: absolute;
  top: 22px;
  right: 0;
  z-index: 400 !important;
  text-align: left;
  background: #fff;
  border: 1px solid #e4e4e4;
  overflow: hidden;
}
.header_inner .header_right_select .select_ul::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 149px;
  width: 1px;
  height: 264px;
  background: #f7f7f7;
}
.header_inner .header_right_select .select_ul > li {
  width: 50%;
}
.header_inner .header_right_select .select_ul > li > a:hover {
  color: #00c402;
}
.header_inner .header_right_select .select_ul .select_han > a {
  color: #00c402;
}
.header_inner .header_right_select .select_ul > li > a {
  display: block;
  padding: 0 10px 0 9px;
  color: #4c4c4c;
  text-decoration: none;
  font-size: 12px;
  line-height: 2;
  font-weight: 300;
}

.header_inner .header_social {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}

.header_inner .header_social > li {
  display: inline-block;
}

.header_social .social_li1 {
  margin-left: 18px;
}

.header_social .social_li2 {
  margin-left: 15px;
}

.header_social .social_li1 a {
  display: block;
  width: 46px;
  height: 18px;
  background: url(https://static.line-scdn.net/line_lp/16fa775a94e/img/spritePC170420.png?200110);
  background-position: -1057px 0;
  text-indent: -9999px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.header_social .social_li2 a {
  display: block;
  width: 10px;
  height: 18px;
  background: url(https://static.line-scdn.net/line_lp/16fa775a94e/img/spritePC170420.png?200110);
  background-position: -817px 0;
  text-indent: -9999px;
  background-repeat: no-repeat;
  overflow: hidden;
}
/* section_wrap */
.section_wrap {
  width: 100%;
  background: #fff;
}
.section_wrap .section_inner {
  width: 960px;
  margin: 0 auto;
}
.section_inner .section1 {
  margin-top: 130px;
  padding-bottom: 50px;
}
.section1 .sec_img,
.section1 .sec_text {
  float: left;
}
.section1 .sec_img {
  margin-right: 55px;
}
.section2 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section2 .sec_img,
.section2 .sec_text {
  float: left;
}
.section2 .sec_img {
  margin-right: 55px;
}
.sec_text > h2 {
  font-size: 40px;
  color: #444444;
  font-weight: bold;
  line-height: 1;
  margin-top: 13px;
}
.sec_text > p {
  width: 715px;
  color: #444444;
  font-size: 14px;
  line-height: 1.6;
  margin-top: 19px;
  margin-bottom: -2px;
}
.section_ul1 {
  margin-top: 18px;
}
.section_ul1 > li {
  float: left;
  margin-right: 6px;
}
/* .section_ul1 > li:first-child > a {
  position: relative;
  display: inline-block;
  min-width: 97px;
  height: 26px;
  line-height: 26px;
  padding: 0 0 0 10px;
  color: #fff;
  font-size: 12px;
  background: #777 url(../img/commonPC/icodCMN02Link.png) right 0 no-repeat;
  text-decoration: none;
  border: 1px solid #777;
} */

.android {
  padding: 0 44px 0 10px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  min-width: 100px;
  height: 25px;
  border: 1px solid #777;
  background: #777
    url(https://static.line-scdn.net/line_lp/16fa775a94e/img/commonPC/ico_mdCMN02Link.png)
    right 0 no-repeat;
  font-size: 12px;
  display: inline-block;
  line-height: 25px;
}

.ios {
  padding: 0 44px 0 10px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  min-width: 100px;
  height: 25px;
  border: 1px solid #777;
  background: #777
    url(https://static.line-scdn.net/line_lp/16fa775a94e/img/commonPC/ico_mdCMN02Link.png)
    right 0 no-repeat;
  font-size: 12px;
  display: inline-block;
  line-height: 25px;
}
.phone {
  padding: 0 44px 0 10px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  min-width: 100px;
  height: 25px;
  border: 1px solid #777;
  background: #777
    url(https://static.line-scdn.net/line_lp/16fa775a94e/img/commonPC/ico_mdCMN02Link.png)
    right 0 no-repeat;
  font-size: 12px;
  display: inline-block;
  line-height: 25px;
}

.btlineImg {
  width: 110px;
  display: table-cell;
}
.btList {
  width: 100%;
  display: table;
}
.btlineText {
  display: table-cell;
  vertical-align: top;
}
.btlineText > h3 {
  font-size: 12px;
  font-weight: bold;
}
.btlineText > p {
  font-size: 12px;
  line-height: 1.6;
  margin-top: 8px;
}
.bt_Li {
  width: 440px;
  display: inline-block;
  margin: 60px 0 0 60px;
  vertical-align: top;
}
#bt_Ul {
  margin-left: -60px;
}

.div_hr {
  border-top: 1px solid #dfdfdf;
}

.div_hr > hr {
  display: none;
}
.camera_link {
  background: url(https://static.line-scdn.net/line_lp/16fa775a94e/img/spritePC170420.png?200110)
    no-repeat;
  background-position: -963px 0;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: 14px;
}
.btline_link {
  background: url(https://static.line-scdn.net/line_lp/16fa775a94e/img/spritePC170420.png?200110)
    no-repeat;
  background-position: -849px 0;
  width: 14px;
  height: 14px;
  display: inline-block;
}
.select {
  font-weight: bold;
}

/* footer */
.footer {
  width: 100%;
  margin-top: 70px;
  background: #3b3b3b;
  padding: 26px 0 28px;
}
.footer > h2 {
  position: absolute;
  left: -9999px;
}
.footer .footer_ul_wrap {
}
.footer .footer_ul_wrap > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 960px;
  margin: 0 auto;
}
.footer .footer_ul_wrap > ul > li {
  display: inline-block;
  font-size: 12px;
}
.footer .footer_ul_wrap > ul > li > a {
  color: #838383;
  font-size: 12px;
  text-decoration: none;
  line-height: 2;
}
.footer .footer_ul_wrap > ul > li > span {
  display: inline-block;
  width: 0;
  overflow: hidden;
  margin-right: 9px;
  margin-left: 7px;
  border-left: 1px solid #494949;
  vertical-align: -1px;
  height: 10px;
}
.footer > p {
  margin-top: 1px;
  color: #838383;
  font-size: 12px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
}
/* 모바일 css display */
.hambug {
  display: none;
}
.xbtn {
  display: none;
}
.mobile__wrap {
  display: none;
}
.mobile__wrap > div {
  position: relative;
}
.margin_arrow {
  position: absolute;
  right: 20px;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media (max-width: 1023px) {
  header {
    width: 100%;
    height: auto;
  }
  .header_inner {
    width: 100%;
    padding: 0 15px;
  }
  .header_inner .header_right {
    display: none;
  }
  .header_inner .header_nav_left ul {
    display: none;
  }
  .hambug {
    display: block;
    cursor: pointer;
    color: #06b900;
    font-size: 25px;
  }

  .hambug.off {
    display: none;
  }
  .xbtn {
    display: none;
    cursor: pointer;
    color: #06b900;
    font-size: 25px;
  }
  .xbtn.on {
    display: block;
  }
  .mobile__wrap {
    width: 100%;
    height: calc(100vh - 50px);
    background: #fff;
    position: fixed;
    top: 51px;
    left: 0;
  }
  .mobile__wrap.on {
    display: block;
  }
  .mobile__wrap > div {
    border-bottom: 1px solid #cccccc;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  .mobile__wrap > div > a {
    font-size: 17px;
    font-weight: bold;
  }

  .header_inner .header_nav_left {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  .section_wrap .section_inner {
    width: 100%;
  }
  .section1 .sec_img {
    margin-right: 0;
  }
  .section_inner .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .section_ul1 {
    display: flex;
    justify-content: center;
  }
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section2 .sec_img {
    margin-right: 0;
  }
  .section2 .sec_img,
  .section2 .sec_text {
    text-align: center;
  }
  #bt_Ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer_ul_wrap > ul {
    width: 100%;
    flex-wrap: wrap;
  }
}
